@import url("Styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");


:root{
    --cinza-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte: "poppins";
}
body{
    background-color: var(--cinza-fundo);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}
