.carrossel__titulo{
    color:var(--laranja);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: var(--branco);
    padding: 1.5em 0 0.8em 0;
    text-transform: uppercase;
}
.swiper-slide img{
    width:100%
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin:0.5em 0;
}
.card{
    background-color: var(--branco);
    margin:1.2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.card__apresentacao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__descricao{
    margin: 0.5em 1.5em 0 0;
}
.card__titulo{
    color:var(--laranja);
    font-weight: 700;
}
.card__titulo-livro{
    color:var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin:0.8em 0;
}
.card__texto{
    font-size: 14px;
}
.card__botoes{
    display: flex;
    justify-content: space-between;
}
.card__icones{
    display: flex;
}
.card__icones-link{
    /* margin: 0 0.5em: */
}
.card__link{
    background-color: var(--laranja);
    color: var(--branco);
    font-weight: 700;
    padding:1em 2.2em;
    margin: 0.0em;
    text-decoration: none;
}
/* eu entendi o problema é simplesmente trocar classes dos botões, boa sorte */